.card{
    border:none;
    width:500px;
    padding:0px 40px 20px;
    position: absolute;

    transform:translate(-30%,10%);
    background:hsla(205,46%,30%,1);
    background:linear-gradient(90deg,rgb(211, 136, 209)0%,rgb(113, 131, 131)100%);
}
.image
{
    margin-right:0.5cm;
}
.bol
{
    transform:translate(0%,-6%);
}

.card  h1,
h5{
    color: hsl(180, 2%, 89%);
}

label{
    color:#fff;
}

body {
    background-color: #0fd0ee;
    background-size: cover;
  }

  img{
    transform:translate(10%,30%); 
  }